.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    'header header'
    'nav content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}

.app-wrapper-content {
  font-size: 24px;
  background-color: azure;
  grid-area: content;
}
